.footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #000000;
    padding: 10px;
    color: #d4cece;
}
.items{
      margin: 50px;
}