.item{ 
    color: #353953;
    font-size: 20px;
    width: 500px;
    margin: 0 auto;
}
.itemName{
    font-weight: bold;
    padding: 20px;
}
.line{
    border: 1px solid #e7e6e6;
}
.deleteBtn{
    float: right;
    padding: 8px 20px;
    border: none;
    background-color: #7f3735;
    color: #b9b9b9;
    margin-top: -5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    transition: background-color 0.3s ease, border-color .3s ease, color .5s ease;
}
.deleteBtn:hover{
    background-color: #3b060a;
    border-color: #000;
    color: rgb(94, 94, 94);
}
.completed{
    text-decoration: line-through;
}
